@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$color-1: hsl(0, 0%, 20%);
$color-2: hsl(300, 91%, 34%);
$color-3: hsl(0, 100%, 60%);

@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', serif;
    box-sizing: border-box;
    color: $color-1
}


body {
    overflow-x: hidden;
}



//Scrollbar
/* WebKit browsers (Chrome, Safari, Edge) */


::-webkit-scrollbar-track {
    background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
    background-color: $color-2;
}


/* Firefox */
html {
    scrollbar-width: 10px;
    scrollbar-color: $color-2 #f1f1f1;
    /* Thumb color and track color */
}

// Header
header {

    padding: 10px;
    margin: 10px;

    path {
        color: $color-1;
        transition: color 0.3s ease;

        &:hover {
            color: $color-2 ;
            cursor: pointer;
        }

    }

    #navbarNav {
        @include flex(space-between);

    }
    .navbar-nav{
        margin: auto
    }

    .nav-item {
        @include flex(center);
        font-weight: bold !important;

    }

    .nav-link.active {
        color: $color-3 !important;
        background-color: hsl(0, 0%, 93%);
    }

    .login-btn {
        color: black;
        font-weight: bold;
        margin-right: 15px;

        &:focus {
            color: $color-3;
        }
    }

    .custom-color-signup {
        background-color: $color-2;
        color: white;
        font-weight: bold;

        &:hover,
        &:focus {
            background-color: $color-2 !important;
            color: white !important;
            outline: none;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .custom-offset-shadow {
        box-shadow: 5px 5px 0 rgba(196, 167, 167, 0.6);
    }
    @media (max-width: 991px) {
        .login-div {
          display: block;
          text-align: center;
          margin-top: 10px;
        }
        .login-btn,
        .custom-color-signup {
          display: block;
          width: 40%;
          padding: 10px;
          text-align: center;
          margin: auto;
          border-radius: 0;
        }
        .nav-link.active{
            background-color: inherit;
        }
    }
}
                                //      HOME         // 
// Hero Section
.col1-custom {
    margin-top: 100px;

    .hero-sec-question {
        font-weight: bold;
        font-size: 1.5em;
    }

    .hero-sec-h1 {
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    .hero-sec-h1 span {
        color: $color-2;
    }

    .custom-color-explore {
        background-color: $color-2;
        color: white;
        font-weight: bold;

        &:hover {
            background-color: hsl(300, 91%, 44%);
        }
    }

    .custom-learn-more {
        font-weight: bold;
    }
}

// Form Section

.custom-form-section {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;

    .custom-color-search {
        background-color: $color-2;
        color: white;
        font-weight: bold;

        &:hover,
        &:focus {
            background-color: $color-2 !important;
            color: white !important;
            outline: none;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .custom-offset-shadow-search {
        box-shadow: 5px 5px 0 rgba(196, 167, 167, 0.6);
        ;
    }
}

//BookingAssistance Sec

.booking-assistance-container {

    .custom-margin-top {
        margin-top: 100px;
    }

    svg {
        width: 100%;
    }

    .icon-bcg {
        background-color: hsl(300, 100%, 95%);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }

    path {
        color: $color-2 !important;
    }

}

// SELECTION SECTION 

.custom-selec-container {


    .custom-clr-selection-btn {
        background-color: hsl(0, 0%, 90%);
        color: black;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
            background-color: $color-2;
            color: white;
        }
    }

    .custom-clr-selection-active {
        background-color: $color-2 !important;
        color: white !important;
    }

    .custom-height-btn {
        height: 70px;
    }

    .price-per-day {
        background-color: $color-2;
        width: 100%;
        height: 55px;
        @include flex(center);

        .cutsom-color-price {
            color: white;
        }
    }

    .custom-selec-img-size {
        width: 100%;
        height: 300px;
        object-fit: contain;
        margin-top: 150px;
    }

    .custom-clr-book-now-btn {
        background-color: $color-2;
        color: white;
        font-weight: bold;
        box-shadow: 5px 5px 0 rgba(196, 167, 167, 0.6);
        ;
        width: 100%;
        height: 60px;

        &:hover,
        &:focus {
            background-color: $color-2 !important;
            color: white !important;
            outline: none;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: none;
        }
    }
}

// WHY US SECTION
// 1. Banner

.banner {
    height: 30vh;
    width: 100vw;
    background-color: $color-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3.5rem;
    }

    h1,
    p {
        color: white;
    }

    p span {
        color: $color-2;
    }

    /* Responsive text for smaller screens */
    @media (max-width: 992px) {
        h1 {
            font-size: 3rem;    
        }

        p {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @media (max-width: 576px) {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

// 2. WHY US SEC

.why-us-div {


    .custom-btn-why-us {
        background-color: $color-2;
        color: white;
        font-weight: bold;
        box-shadow: 5px 5px 0 rgba(196, 167, 167, 0.6);
        
        width: 200px;
        height: 60px;

        &:hover,
        &:focus {
            background-color: $color-2 !important;
            color: white !important;
            outline: none;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: none;
        }
    }

    .icon-bcg {
        background-color: hsl(300, 100%, 95%);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    path {
        color: $color-2;
    }

}

// TESTIMONALS SECTION

.testimonials-section {
    background-color: hsl(0, 0%, 98%);
    padding: 80px 0;
    position: relative;


    .small-heading {
        font-weight: bold;
    }

    .big-heading {
        font-size: 2.5rem;
        margin-top: 10px;
    }

    .testimonials-description {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 50px;
        color: $color-1;
    }

    .testimonial-review {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-pfp {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .testimonial-name {
        font-weight: bold;
        margin-top: 10px;
    }

    .testimonial-text {
        font-size: 1rem;
        color: $color-1;
        margin: 15px 0;
        max-width: 500px;
    }

    .testimonial-stars {
        margin-top: 10px;
    }

    path {
        color: $color-2;
        margin-left: 5px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        /* Optional: Add a background to make them more visible */
        width: 30px;
        height: 30px;
    }
}

// FAQ
.faq-section {


    .small-heading {
        font-weight: bold;
    }

    .big-heading {
        font-size: 2.5rem;
        margin-top: 10px;
    }

    .faq-description {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 50px;
        color: $color-1;
    }

    .accordion-button {
        padding: 25px;


        &:hover,
        &:focus,
        &:active {
            box-shadow: none !important;
            outline: none !important;
            background-color: hsl(0, 0%, 90%) !important;

        }
    }

    .accordion-button:not(.collapsed) {
        background-color: hsl(0, 0%, 90%) !important;
        color: $color-1 !important;
    }

    .accordion-body {
        padding: 25px;
    }

}

//Footer

.footer-section {
    background-color: $color-1;
    min-width: 100vw;
    min-height: 50vh;

    p,
    h5 {
        color: white;
    }

    hr {
        color: hsl(0, 0%, 90%);
        margin: auto;
    }

    .footer-contact-p {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-2;
            cursor: pointer;

            svg path {
                color: $color-2;
            }
        }

        svg path {
            color: white;
        }
    }

    .div-1-p:hover {
        color: $color-2;
    }

    .div-3-contact {
        margin: 0 20px;
    }

    .div-4-socials a .icons {
        margin-bottom: 20px;
    }

    .div-4-socials a svg path {
        color: white;
        transition: color 0.3s ease;

        &:hover {
            color: $color-2;
        }
    }

    .footer-span {
        display: inline-block;
        color: $color-2;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .footer-span:hover {
        transform: translateY(-5px);
    }

}

                                //      ABOUT         // 

.about-us-sec{
    width: 60%;
    margin: auto;

    svg{
        width: 100%;
    }
    path{
        color: $color-2;
    }
    .icons-about-sec{
        background-color: hsl(300, 100%, 95%);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    

    .span-about-sec{
        color: $color-2;
    }
}

                                //      CONTACT         // 

.contact-us-sec{
    

    form{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
        width: 50%;
        margin: auto;

        label{
            font-size: 1.5rem;
            color: $color-2;
        }
        input{
            height: 60px;
         
        }
        button{
                background-color: $color-2;
                color: white;
                font-weight: bold;
                box-shadow: 5px 5px 0 rgba(196, 167, 167, 0.6);
                
                width: 150px;
                height: 40px;
        
                &:hover,
                &:focus {
                    background-color: $color-2 !important;
                    color: white !important;
                    outline: none;
                }
        
                &:active {
                    transform: scale(0.95);
                    box-shadow: none;
        }
    }
}}